[Unit]
Description=DoubleZero auto-updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/doublezero-updater/update.sh
StandardOutput=journal
StandardError=journal
